[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  }
  
  /* IMAGE STYLES  */
  
  [type=radio] + img {
  cursor: pointer;
  margin: 2%;
  margin-top: 5%;
  
  }
  img {
  width: 60px;
  }
  /* CHECKED STYLES  */
  [type=radio]:checked + img {
  filter: invert(39%) sepia(23%) saturate(7007%) hue-rotate(219deg) brightness(103%) contrast(101%);
  
  
  }
  