.modal{
    background: #FFFFFF;
    position:absolute;
    margin-left:440px;
    margin-bottom:1010px;
    
    box-shadow: 0px 16px 32px rgba(30, 42, 50, 0.08);
    border-radius: 8px;
    width:350px;
    height:350px
}
.loanamount{
    
}
.button{
  border-radius: 34px;
  border: none ;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px ;
  background:#1B31A8;
  align-items: center;
  
}
